#head {
	height:150px;
	background-color:black;
	width:100%;
	
	top:0;
	left:0;
	color:white;
	font-size:100px;
	text-align:center;
	padding-top:50px;
	z-index:50;
	}
#main {
	
	top:200px;
	left:0;
	width:100%;
}
#menu_btn{
	position:absolute;
	color:white;
	z-index:100;
	font-size:70px;
}
#info {
	margin-top:200;
	position:absolute;
	left:0;
	background-color:gold;
	color:white;
	width:100%;
	height:500px;
}
#text {
	z-index:50;
	position:absolute;
	top:400px;
	left:0;
	color:white;
	width:100%;
	text-align:center;
	font-size:80px;
	background-color:#4db60154;	
}
#block2 {
	/*margin-top:1274px;*/
	left:0;
	color:white;
	width:100%;
	height:100px;
	background-color:#4db601;
	margin-top:-3.9px;
}

#deviceAlert {
	color:white;
	display: block;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	max-height:100px;
}

/*menu*/



.nav {
    /*  С€РёСЂРЅР° РїСЂРѕРёР·РІРѕР»СЊРЅР°СЏ, РЅРµ СЃС‚РµСЃРЅСЏР№С‚РµСЃСЊ СЌРєСЃРїРµСЂРёРјРµРЅС‚РёСЂРѕРІР°С‚СЊ */
    width: 450px;
    min-width: 320px;
    /* С„РёРєСЃРёСЂСѓРµРј Рё РІС‹СЃС‚Р°РІР»СЏРµРј РІС‹СЃРѕС‚Сѓ РїР°РЅРµР»Рё РЅР° РјР°РєСЃРёРјСѓРј */
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    /* СЃРґРІРёРіР°РµРј (РїСЂСЏС‡РµРј) РїР°РЅРµР»СЊ РѕС‚РЅРѕСЃРёС‚РµР»СЊРЅРѕ Р»РµРІРѕРіРѕ РєСЂР°СЏ СЃС‚СЂР°РЅРёС†С‹ */
    left: -450px;
    /* РІРЅСѓС‚СЂРµРЅРЅРёРµ РѕС‚СЃС‚СѓРїС‹ */
    padding: 15px 20px;
    /* РїР»Р°РІРЅС‹Р№ РїРµСЂРµС…РѕРґ СЃРјРµС‰РµРЅРёСЏ РїР°РЅРµР»Рё */
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    /* РѕРїСЂРµРґРµР»СЏРµРј С†РІРµС‚ С„РѕРЅР° РїР°РЅРµР»Рё */
    background:black;
    /* РїРѕРІРµСЂС… РґСЂСѓРіРёС… СЌР»РµРјРµРЅС‚РѕРІ */
    z-index: 2000;
}


/**
 * РљРЅРѕРїРєР° РїРµСЂРµРєР»СЋС‡РµРЅРёСЏ РїР°РЅРµР»Рё
 * С‚РµРі <label>
 */

.nav-toggle {
    /* Р°Р±СЃРѕР»СЋС‚РЅРѕ РїРѕР·РёС†РёРѕРЅРёСЂСѓРµРј */
    position: fixed;
	transition:.25s linear;
    /* РѕС‚РЅРѕСЃРёС‚РµР»СЊРЅРѕ Р»РµРІРѕРіРѕ РєСЂР°СЏ РїР°РЅРµР»Рё */
    left: 0px;
    /* РІРЅСѓС‚СЂРµРЅРЅРёРµ РѕС‚СЃС‚СѓРїС‹ */
    padding: 0.5em;
    /* РѕРїСЂРµРґРµР»СЏРµРј С†РІРµС‚ С„РѕРЅР° РїРµСЂРµРєР»СЋС‡Р°С‚РµР»СЏ
     * С‡Р°С‰Рµ РІС‡РµРіРѕ РІ СЃРѕРѕС‚РІРµС‚СЃС‚РІРёРё СЃ С†РІРµС‚РѕРј С„РѕРЅР° РїР°РЅРµР»Рё
    */
    background: inherit;
    /* С†РІРµС‚ С‚РµРєСЃС‚Р° */
    color: #dadada;
    /* РІРёРґ РєСѓСЂСЃРѕСЂР° */
    cursor: pointer;
    /* СЂР°Р·РјРµСЂ С€СЂРёС„С‚Р° */
    font-size: 1.2em;
    line-height: 1;
    /* РІСЃРµРіРґР° РїРѕРІРµСЂС… РґСЂСѓРіРёС… СЌР»РµРјРµРЅС‚РѕРІ СЃС‚СЂР°РЅРёС†С‹ */
    z-index: 2001;
    /* Р°РЅРёРјРёСЂСѓРµРј С†РІРµС‚ С‚РµРєСЃС‚Р° РїСЂРё РЅР°РІРµРґРµРЅРёРё */
    /*-webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;*/
}


/* РѕРїСЂРµРґРµР»СЏРµРј С‚РµРєСЃС‚ РєРЅРѕРїРєРё 
 * СЃРёРјРІРѕР» Unicode (TRIGRAM FOR HEAVEN)
*/

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}


/* С†РІРµС‚ С‚РµРєСЃС‚Р° РїСЂРё РЅР°РІРµРґРµРЅРёРё */

.nav-toggle:hover {
    color: #f4f4f4;
}


/**
 * РЎРєСЂС‹С‚С‹Р№ С‡РµРєР±РѕРєСЃ (С„Р»Р°Р¶РѕРє)
 * РЅРµРІРёРґРёРј Рё РЅРµРґРѕСЃС‚СѓРїРµРЅ :)
 * РёРјСЏ СЃРµР»РµРєС‚РѕСЂР° Р°С‚СЂРёР±СѓС‚ С„Р»Р°Р¶РєР°
 */

[id='nav-toggle'] {
    position: absolute;
    display: none;
}


/**
 * РёР·РјРµРЅРµРЅРёРµ РїРѕР»РѕР¶РµРЅРёСЏ РїРµСЂРµРєР»СЋС‡Р°С‚РµР»СЏ 
 * РїСЂРё РїСЂРѕСЃРјРѕС‚СЂРµ РЅР° РјРѕР±РёР»СЊРЅС‹С… СѓСЃС‚СЂРѕР№СЃС‚РІР°С…
 * РєРѕРіРґР° РЅР°РІРёРіР°С†РёСЏ СЂР°СЃРєСЂС‹С‚Р°, СЂР°СЃРїРѕР»РѕРіР°РµРј РІРЅСѓС‚СЂРё РїР°РЅРµР»Рё
*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: 400px;
    top: 1em;
	transition: 0.25s linear;
}


/**
 * РљРѕРіРґР° С„Р»Р°Р¶РѕРє СѓСЃС‚Р°РЅРѕРІР»РµРЅ, РѕС‚РєСЂС‹РІР°РµС‚СЃСЏ РїР°РЅРµР»СЊ
 * РёСЃРїРѕР»СЊР·СѓРµРј РїСЃРµРІРґРѕРєР»Р°СЃСЃ:checked
 */

[id='nav-toggle']:checked ~ .nav {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}


/* 
 * СЃРјРµС‰РµРЅРёРµ РєРѕРЅС‚РµРЅС‚Р° СЃС‚СЂР°РЅРёС†С‹
 * РЅР° СЂР°Р·РјРµСЂ С€РёСЂРёРЅС‹ РїР°РЅРµР»Рё,
 * С„РёС€РєР° РЅРµРѕР±СЏР·Р°С‚РµР»СЊРЅР°СЏ, РЅР° Р»СЋР±РёС‚РµР»СЏ
*/

[id='nav-toggle']:checked ~ main > article {
    -webkit-transform: translateX(320px);
    -moz-transform: translateX(320px);
    transform: translateX(320px);
}


/*
 * РёР·РјРµРЅРµРЅРёРµ СЃРёРјРІРѕР»Р° РїРµСЂРµРєР»СЋС‡Р°С‚РµР»СЏ,
 * РїСЂРёРІС‹С‡РЅС‹Р№ РєСЂРµСЃС‚РёРє (MULTIPLICATION X), 
 * РІС‹ РјРѕР¶РµС‚Рµ РёСЃРїР»СЊР·РѕРІР°С‚СЊ Р»СЋР±РѕР№ РґСЂСѓРіРѕР№ Р·РЅР°С‡РѕРє
*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}




body {
    -webkit-animation: bugfix infinite 1s;
	background-color:gray;
}

@-webkit-keyframes bugfix {
    to {
      padding: 0;
    }
}


/**
 * РїРѕР·Р°Р±РѕС‚СЊС‚РёРјСЃСЏ Рѕ СЃСЂРµРґРЅРёС… Рё РјР°Р»РµРЅСЊРєРёС… СЌРєСЂР°РЅР°С…
 * РјРѕР±РёР»СЊРЅС‹С… СѓСЃС‚СЂРѕР№СЃС‚РІ
 */

@media screen and (min-width: 320px) {
    html,
    body {
      margin: 0;
      overflow-x: hidden;
    }
}

@media screen and (max-width: 320px) {
    html,
    body {
      margin: 0;
      overflow-x: hidden;
    }
    .nav {
      width: 100%;
      box-shadow: none
    }
}


/**
 * Р¤РѕСЂРјРёСЂСѓРµРј СЃС‚РёР»СЊ Р·Р°РіРѕР»РѕРІРєР° (Р»РѕРіРѕС‚РёРї) РїР°РЅРµР»Рё 
*/

.nav h2 {
    width: 90%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}

.nav h2 a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}


/*РїР»Р°РІРЅРѕРµ РїРѕСЏРІР»РµРЅРёРµ Р·Р°РіРѕР»РѕРІРєР° (Р»РѕРіРѕС‚РёРїР°) РїСЂРё СЂР°СЃРєСЂС‹С‚РёРё РїР°РЅРµР»Рё */

[id='nav-toggle']:checked ~ .nav h2 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}


/**
 * С„РѕСЂРјРёСЂСѓРµРј РЅРµРїРѕСЃСЂРµРґСЃС‚РІРµРЅРЅРѕ СЃР°РјРѕ РјРµРЅСЋ
 * РёСЃРїРѕР»СЊР·СѓРµРј РЅРµСѓРїРѕСЂСЏРґРѕС‡РµРЅРЅС‹Р№ СЃРїРёСЃРѕРє РґР»СЏ РїСѓРЅРєС‚РѕРІ РјРµРЅСЋ
 * РїСЂРёРєСЂСѓС‚РёРј С‚СЂР°РЅСЃС„РѕРјР°С†РёРё Рё РїР»Р°РІРЅС‹Рµ РїРµСЂРµС…РѕРґС‹
 */

.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}


/* РѕРїСЂРµРґРµР»СЏРµРј РёРЅС‚РµСЂРІР°Р»С‹ РїРѕСЏРІР»РµРЅРёСЏ РїСѓРЅРєС‚РѕРІ РјРµРЅСЋ */

.nav > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}

.nav > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}

.nav > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}

.nav > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}

.nav > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}

.nav > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}


/**
 * РѕС„РѕСЂРјР»РµРЅРёРµ СЃСЃС‹Р»РѕРє РїСѓРЅРєС‚РѕРІ РјРµРЅСЋ
 */

.nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    /* РїР»Р°РІРЅС‹Р№ РїРµСЂРµС…РѕРґ */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}


/**
 * СЃРѕСЃС‚РѕСЏРЅРёРµ СЃСЃС‹Р»РѕРє РјРµРЅСЋ РїСЂРё РЅР°РІРµРґРµРЅРёРё
 */

.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}


/**
 * Р»РёРЅРёСЏ РїРѕРґС‡РµСЂРєРёРІР°РЅРёСЏ СЃСЃС‹Р»РѕРє РјРµРЅСЋ
 */

.nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: white;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}


/**
 * Р°РЅРёРјРёСЂСѓРµРј Р»РёРЅРёСЋ РїРѕРґС‡РµСЂРєРёРІР°РЅРёСЏ 
 * СЃСЃС‹Р»РѕРє РїСЂРё РЅР°РІРµРґРµРЅРёРё
 */

.nav > ul > li > a:hover:before {
    width: 0%;
    background: white;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.nav > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}


/*end menu*/
.nav{
    box-sizing: border-box;
}

/**
 * РњР°РєСЃРёРјР°Р»СЊРЅР°СЏ РІС‹СЃРѕС‚Р° Р±Р°Р·РѕРІРѕРіРѕ РєРѕРЅС‚РµР№РЅРµСЂР°
 */



/* РёР·РјРµРЅСЏРµРј РїРѕР»РѕcСѓ РїСЂРѕРєСЂСѓС‚РєРё */

::-webkit-scrollbar {
    width: .65em;
}

::-webkit-scrollbar-track {
    background-color: coral;
}

::-webkit-scrollbar-thumb {
    background: #347b00;
    border-radius: 5px;
    box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}

main {
    max-width: 1024px;
    margin: 0 auto
}

article {
    margin: 0 1em;
    padding: 0 22px;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: : -moz-transform .3s;
    transition: transform .3s;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
}

footer {
    font-size: 14px;
    text-align: center
}

p {
    margin-bottom: 16px;
}

hr {
    margin: 22px 0;
    height: 1px;
    border: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1,
h2 {
    margin-bottom: 22px;
    color: #191919;
    font-weight: 300;
}

h1 {
    font-size: 32px;
    line-height: 32px;
}

h2 {
    color: #565d66;
    font-size: 26px;
    line-height: 26px;
}
#rp {
	display:unset;
}
#arrow {
	position: fixed;
    left: 60px;
    top: 10px;
	width:100px;
	height:100px;
	z-index:100;
	size:transform;
	COLOR:white;
	font-size:25px;
     display:-webkit-inline-box;
	 visibility:hidden
}
.btn {
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
    border-radius: 10em;
    border: 0;
    color: #fff!important;
    margin: 6px;
    white-space: normal!important;
    word-wrap: break-word;
		display: inline-block;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.btn {
	  -webkit-transition: box-shadow .2s ease-out;
	  -moz-transition: box-shadow .2s ease-out;
		-ms-transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
}
.btn:hover {
	  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	  -moz-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}
.btn-primary {
	  border: 2px solid #2BBBAD;
    color: #00695c!important;
    background-color: transparent;
}

.btn-secondary {
    border: 2px solid #00C851;
    color: #007E33!important;
    background-color: transparent;
}
/*end menu*/